
.btn {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.card{
    background-image: radial-gradient( circle farthest-corner at 39.2% 57.3%,  rgba(20,82,111,1) 30.9%, rgba(25,67,86,1) 74.6% );
    border-radius:50px;
     
    padding: 10 10 10 10;
    /* background-color:black; */
    color:white;
width: 400px;
margin: 40 auto;
box-shadow: 10px 10px 5px grey;

}
.card img{
    border-radius: 50px;
}
.card-2{
    padding: 10 10 10 10;
    background-color: #D9AFD9;
    background-image: linear-gradient(127deg, #D9AFD9 0%, #97D9E1 100%);
    
    color:black;
width: 400px;
margin: 40 auto;
box-shadow: 10px 10px 5px grey;

}
.nav-item {
    font-size:120% ;
    font-weight: bold;
}
#header{
    width: max-content;
    margin: 0 auto;
    padding-bottom: 60;
}
.container1 {
    max-width: 90%;
    min-height: 400px;
    position: relative;
    top: -30px;
    margin: auto;
    border-radius: 15px;
    background-color: #EEEEEE
}
#footerTop {
    background-color: rgb(42, 42, 42);
    color: white;
}

#footerBottom {
    background-color: rgb(29, 29, 29);
    color: white;
}
a {
    color: inherit;
}

a.social:hover {
    color: rgb(0, 153, 255);
}